# CLion
.idea/

# Assets aren't stored in git
/assets/
/doc/background/photonMapping/

# Images
*.jpg
*.png

# Build and CMake files
build/
CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Windows Makefile build
*.d
*.o
/game
/game.exe

# LaTeX
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.nav
*.snm
*.toc

# Miscellaneous
*.swp
*~
.DS_Store

